---
import Header from '../components/Header.tsx';
import Footer from '../components/Footer.tsx';
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="root flex flex-col justify-center">
      <Header client:only />
      <slot />
      <Footer client:only />
    </div>
  </body>
</html>
<style is:global>
  @import 'https://fonts.googleapis.com/css?family=Space+Grotesk:thin,extrelight,light,regular,regularitalic,medium,mediumitalic,semibold,semibolditalic,bold,bolditalic)';
  @import 'https://fonts.googleapis.com/css?family=Chivo:thin,extrelight,light,regular,regularitalic,medium,mediumitalic,semibold,semibolditalic,bold,bolditalic)';

  :root {
    font-family: Chivo, sans-serif;
  }

  body {
    overflow-x: hidden;
    background: rgb(0 251 245);
    background: linear-gradient(
      90deg,
      rgb(0 251 245) 0%,
      rgb(0 61 218) 25%,
      rgb(0 116 182) 50%,
      rgb(0 144 118) 75%,
      rgb(61 139 0) 100%
    );
  }

  .root {
    position: relative;
    min-height: 100vh;
    background: rgb(20 20 20);
    background: linear-gradient(
      180deg,
      rgba(15, 15, 15, 1) 0%,
      rgba(20, 20, 20, 0.95) 30%,
      rgba(20, 20, 20, 0.85) 75%,
      rgba(20, 20, 20, 0.7) 100%
    );
  }

  code {
    font-family: Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
      'Courier New', monospace;
  }
</style>
